<h1>Employee Profile</h1>
<%= @employees.first_name %>
<%= @employees.last_name %>
<br />
<a href="mailto:<%= @employees.email %>"><%= @employees.email %></a>
<br />
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<%= javascript_tag do %>
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var options = {
      title:'Monthly Sales',
      hAxis: { title: 'Sales' }
    };

    var data = new google.visualization.arrayToDataTable([
      ['Month', 'Sales'],
      <% @employees.transactions_by_month.each do |month| %>
      <%=raw "['#{Date::ABBR_MONTHNAMES[month.first.to_i]}', #{month.last}]," %>
      <% end %>
    ]);

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
<% end %>
<!--Div that will hold the pie chart-->
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
<table border='1'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.transactions_by_amount.each do |sale| %>
    <tr>
      <td><%= sale.date %></td>
      <td><%= "$#{sale.amount}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
